<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="csrf-param" content="<%= request_forgery_protection_token %>" inertia>
    <meta name="csrf-token" content="<%= form_authenticity_token %>" inertia>
    <meta name="env" content="<%= Rails.env %>">
    <%= csp_meta_tag %>

    <meta name="active-storage-direct-uploads-url" content="<%= rails_direct_uploads_path %>">
    <% if (direct_uploads_size_limit = Rails.configuration.active_storage.direct_uploads_size_limit) %>
      <meta name="active-storage-direct-uploads-size-limit" content="<%= direct_uploads_size_limit %>">
    <% end %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <% if local_assigns.include?(:page) %>
      <%= vite_react_refresh_tag %>
      <%= vite_typescript_tag "application.tsx" %>
    <% end %>

    <%= inertia_ssr_head %>
    <%= inertia_assets local_assigns.fetch(:page), type: :page, media: nil %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
